.home-content{
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
    transition: all .5s ease;

}
.header{
    border: 1px solid #999999;
    margin: 6px;
}
.header-top{
    height: 35px;
}
.heading h3{
    margin: auto;
    padding: 10px 20px;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.92);
    text-transform: uppercase;
    font-size: 30px;
}
.header-bottom p{
    margin-left: 20px;
}
.content{
    border: 1px solid #999999;
    margin: 6px;
}
.content .main{
    height: 2000px;
}